@model IEnumerable<SystemApp.Models.DataModels.Product>
@using SystemSales.AccessLayer
@inject ApplicationDbContext context;

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_SalesLayout.cshtml";
}

<style>
	.imgResized {
		height: 40px;
		width: 40px
	}

	.col-hover:hover {
		box-shadow: 0,0,0,0;
		zoom: 1;
		border-color: #10125e
	}
</style>
@{
	int sno = 0;
}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Home</a></li>
		<li class="breadcrumb-item"><a asp-controller="Products" asp-action="Index">Product</a></li>
		<li class="breadcrumb-item active" aria-current="page">Product Lists</li>
	</ol>
</nav>
<div class="card">
	<div class="card-body">
		<table class="table table-responsive table-striped border table-bordered" style="font-size:12px; table-layout:fixed">
			<thead>
				<tr>
					<td>
						Sn.
					</td>
					<th>
						Image
					</th>
					<th>
						Name
					</th>
					<th>
						Normalized
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Price)
					</th>
					<th>
						Product No.
					</th>
					<th>
						Product code
					</th>
					<th>
						Category
					</th>
					<th>
						Description
					</th>
					<th>
						Deleted?
					</th>
					<th>
						Status
					</th>
					<th>
						Date
					</th>
					<th>
						<a asp-action="addproduct" class="btn btn-outline-danger" style="font-size:10px"><i class="fas fa-plus"></i> New</a>
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					var productImagePath = "~/images/product/uploads/" + item.ProductImagePath;
					var categoryName = context.ProductCategories.FirstOrDefault(x => x.Id.Equals(item.CategoryId)).CategoryName;
					<tr>
						<td>
							@{ sno++; }
							@sno
						</td>
						<td>
							<a href="#">
								<img src="@productImagePath" asp-append-version="true" class="card-img-top img-thumbnail imgResized rounded-circle" />
							</a>
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ProductName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.LowerCaseName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Price)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ProductNumber)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ProductCode)
						</td>
						<td>
							@Html.DisplayFor(modelItem => categoryName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Description)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Delete)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.IsActive)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.CreatedAt)
						</td>
						<td style="font-size:10px">
							<a asp-action="Edit" asp-route-id="@item.Id" title="Edit product"><i class="fas fa-external-link-alt"></i></a> |
							<a asp-action="View" asp-route-id="@item.Id" title="View product"><i class="fa fa-eye"></i></a> |
							<a asp-action="Delete" asp-route-id="@item.Id"
							   onclick="return confirm('Are you sure you want to delete this reocrd?')" title="Delete Product"><i class="fa fa-trash"></i></a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

